#court {
    width: 940px;
    height: 500px;
    background: url('./fullcourt.svg');
}
#plot {
    width: 940px;
    height: 500px;
}
#clocks {
    text-align: center;
}
.controls {
    padding-left: 40px;
}
.controls div {
    margin-bottom: 10px;
}
#game-clock {
    color: #5D6D7E;
    width: 250px;
    display: inline-block;
}
#shot-clock {
    color: #5D6D7E;
    width: 250px;
    display: inline-block;
}
#toggle {
    text-align: center;
}
.roster {
    text-align: center;
    height: 120px;
    padding-bottom: 20px;
}
.headshot {
    width: 44px;
    height: 32px;
    display: inline-block;
    border: 1px solid #999;
}
img {
    opacity: 0.5;
}
.active {
    opacity: 1.0;
}
.has-ball {
    border: 3px solid #F7DC6F;
}