{
    "extends": "airbnb",
    "globals": {
      "$": true,
      "d3": true
    },
    "rules": {
        "indent": [1, 2],
        "no-unused-vars": [1]
    },
    "plugins": [
       "react"
    ]
}